<!DOCTYPE html>
<html>
<head>
	@{
		string PageDescription = ViewData["Description"] + " | Voxalia is a game!";
		HtmlString BodyData = new HtmlString((ViewData["Body"] as string) ?? "BodyData");
	}
	<title>@ViewData["Title"] | Voxalia by Frenetic LLC</title>
	<link rel="stylesheet" type="text/css" href="/css/voxalianet.css">
	<meta name="description" content="@PageDescription">
	<meta name="og:description" content="@PageDescription">
	<meta name="twitter:description" content="@PageDescription">
	<meta name="image" content="https://cdn.freneticllc.com/voxalia_gif.gif">
	<meta name="og:image" content="https://cdn.freneticllc.com/voxalia_gif.gif">
	<meta name="twitter:image" content="https://cdn.freneticllc.com/voxalia_gif.gif">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1" />
	<meta charset="utf-8">
</head>
<body>

@RenderBody()

</body>

</html>
