<!DOCTYPE html>
<html>
<head>
	@{
		string PageDescription = ViewData["Description"] + " | Voxalia is a game!";
		HtmlString BodyData = new HtmlString((ViewData["Body"] as string) ?? "BodyData");
	}
	<title>@ViewData["Title"] | Voxalia by Frenetic LLC</title>
	<link rel="stylesheet" type="text/css" href="/css/voxalianet.css">
	<meta name="description" content="@PageDescription">
	<meta name="og:description" content="@PageDescription">
	<meta name="twitter:description" content="@PageDescription">
	<meta charset="utf-8">
</head>
<body>

@RenderBody()

</body>

</html>
